body {
  background-color: #121212;
  color: #ccc;
  font-family: "Montserrat", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  padding-top: auto;
}

.container {
  max-width: 100vw;
  margin: auto;
  text-align: center;
}

.header {
  background-color: #1c1c1c;
  padding: 15px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.submenus-container {
  width: 100%;
}

.submenus {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: flex-start;
  margin-top: 10px;
}

.submenus li {
  border-right: 2px solid #fff;
  padding: 10px;
  margin: 0;
  color: #ccc;
  cursor: pointer;
}

.submenus li:hover {
  font-size: 16.3px;
  color: #ccc;
  transition: 0.3s;
}

.submenus li:last-child {
  border-right: none;
}

.search-section {
  position: relative;
  display: block;
  flex-direction: column;
  align-items: start;
  width: 95vw;
  border-radius: 0.5rem;
  gap: 2rem;
}

.search-section button {
  display: flex;
}

.search-box {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.search-box input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background: #333;
  color: white;
}

.search-box input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}

.search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #ffffffa1;
  pointer-events: none;
  font-size: 18px;
  cursor: pointer;
}

#suggestions {
  position: absolute;
  top: 60px;
  width: 97%;
  background: #333;
  list-style: none;
  padding: 0;
  border-radius: 5px;
  text-align: left;
  z-index: 100;
}

#suggestions li {
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #444;
  color: white;
}

#suggestions li:hover {
  background: #333;
}

#proxima-leitura {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  font-size: 1.5rem;
  color: #ccc;
}

.hidden {
  display: none !important;
}

.livro-container {
  display: flex;
  width: 100%;
  margin-top: 100px; /* Espaço para não sobrepor o conteúdo */
  align-items: center;
  justify-content: center;
}

.livro-container img {
  width: 23% !important;
  height: 25%;
  margin: 15px 15px 15px 5px;
  border-radius: 10px;
}

.sinopse-container {
  width: 72%;
  height: 25%;
  background-color: #1c1c1c;
  padding: 10px;
  font-size: 15px;
  margin: 15px 5px 15px 15px;
  border-radius: 10px;
}

.detalhes {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.caixa-anotacoes {
  background-color: #1c1c1c;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
}

textarea {
  width: 47%;
  height: 150px;
  margin-right: 10px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #222;
  color: #ccc;
}

button {
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #17df6ab2;
}

button {
  width: 49%;
  margin: 10px 5px;
  padding: 8px -2px;
}

.livro-container img {
  width: 22%;
  height: 25%;
  margin-right: 20px;
  border-radius: 10px;
}

.sinopse-container {
  width: 78%;
  background-color: #1c1c1c;
  padding: 15px;
  margin: auto;
  border-radius: 10px;
}

.btn-green {
  background-color: #17df6a;
}

.btn-green:hover {
  background-color: #17df6ad7;
}

.btn-red {
  background-color: #ff4d4d;
}

.btn-red:hover {
  background-color: #ff4d4dcc;
}
