body {
  background-color: #121212;
  color: #ccc;
  font-family: "Montserrat", Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.container {
  max-width: 100%;
  margin: auto;
  text-align: center;
}

.header {
  background-color: #1c1c1c;
  padding: 15px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.submenus-container {
  width: 100%;
}

.submenus {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  list-style: none;
  justify-content: center;
}

.submenus li {
  padding: 10px;
  color: #ccc;
  cursor: pointer;
  text-align: center;
  flex: 1;
}

.search-section {
  width: 90%;
  margin: auto;
}

.search-box {
  display: flex;
  align-items: center;
  width: 100%;
}

.search-box input {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  background: #333;
  color: white;
}

#proxima-leitura {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  font-size: 1.5rem;
  color: #ccc;
  text-align: center;
}

.livro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 100px;
}

.livro-container img {
  width: 60%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 10px;
}

.sinopse-container {
  width: 90%;
  background-color: #1c1c1c;
  padding: 15px;
  border-radius: 10px;
}

.detalhes {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.caixa-anotacoes {
  background-color: #1c1c1c;
  padding: 15px;
  border-radius: 10px;
  width: 90%;
}

textarea {
  width: 100%;
  height: 120px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #333;
  background-color: #222;
  color: #ccc;
}

button {
  width: 100%;
  margin-top: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.btn-green {
  background-color: #17df6a;
}

.btn-red {
  background-color: #ff4d4d;
}

@media (min-width: 768px) {
  .livro-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .livro-container img {
    width: 30%;
    margin-right: 20px;
  }

  .sinopse-container {
    width: 60%;
  }

  .detalhes {
    flex-direction: row;
    justify-content: space-between;
  }

  .caixa-anotacoes {
    width: 48%;
  }

  textarea {
    width: 100%;
  }

  button {
    width: 48%;
  }
}
